* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-image: url(../images/backcover.svg);
    background-position: right;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.main-div {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

nav img {
    width: 100px;
}

.nav-items {
    display: flex;
    gap: 32px;
    margin-right: 50px;
}

.nav-item {
    font-size: 16px;
    color: #030172;
}

.signin-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 3px 16px;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right top, #6b6dfe, #9e7df9, #c08ff4, #d9a5f2, #ecbdf2);
    color: white;
    font-weight: 500;
}

.intro-section {
    display: grid;
    grid-template-columns: 450px 1fr;
}

.left-section {
    margin-top: 100px;
}

.left-section h1 {
    margin-bottom: 50px;
    font-size: 68px;
    color: #4c4c9a;
    letter-spacing: 2px;
    
}

.left-section h4 {
    width: 350px;
    font-size: 16px;
    color: #354682;
    font-weight: 200;
    line-height: 2;
    margin-bottom: 50px;
}

.learn-more-btn {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    color: white;
    background-image: linear-gradient(to right top, #6b6dfe, #9e7df9, #c08ff4, #d9a5f2, #ecbdf2);


}

.imgs-div {
    position: relative;

}

.vector-img {
    position: absolute;
    bottom: 170px;
}

.vector-dot {
    position: absolute;
    bottom: 260px;
    left: 60px;
}


